<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<connectionStrings>
		<add name="mysql" connectionString="server=localhost;database=asyncpoco;user id=asyncpoco;password=asyncpoco;Allow User Variables=true" providerName="MySql.Data.MySqlClient" />
		<add name="sqlserver" connectionString="Server=(LocalDB)\MSSQLLocalDB; Integrated Security=True" providerName="System.Data.SqlClient" />
		<add name="sqlserverce" connectionString="Data Source=|DataDirectory|\petapoco.sdf" providerName="System.Data.SqlServerCe" />
		<add name="postgresql" connectionString="Server=127.0.0.1;User id=postgres;password=password01;Database=postgres;" providerName="Npgsql" />
		<add name="sqlite" connectionString="Data Source=.\asyncpoco.sqlite;DateTimeKind=Utc" providerName="System.Data.SQLite" />
	</connectionStrings>

	<system.data>
		<DbProviderFactories>
			<clear />
			<add name="Npgsql Data Provider" invariant="Npgsql" support="FF" description=".Net Framework Data Provider for Postgresql Server" type="Npgsql.NpgsqlFactory,Npgsql" />
		  <remove invariant="MySql.Data.MySqlClient" />
		  <add name="MySQL Data Provider" invariant="MySql.Data.MySqlClient" description=".Net Framework Data Provider for MySQL" type="MySql.Data.MySqlClient.MySqlClientFactory, MySqlConnector, Version=0.30.0.0, Culture=neutral, PublicKeyToken=d33d3e53aa5f8c92" />
			<add name="Microsoft SQL Server Compact Data Provider 4.0" invariant="System.Data.SqlServerCe" description=".NET Framework Data Provider for Microsoft SQL Server Compact" type="System.Data.SqlServerCe.SqlCeProviderFactory, System.Data.SqlServerCe" />
			<remove invariant="System.Data.SQLite" />
			<add name="SQLite Data Provider" invariant="System.Data.SQLite" description=".NET Framework Data Provider for SQLite" type="System.Data.SQLite.SQLiteFactory, System.Data.SQLite" />		  
    </DbProviderFactories>
	</system.data>

	<startup>
		<supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
	</startup>
</configuration>
