<?xml version="1.0"?>
<configuration>
	<connectionStrings>
		<add name="mysql" connectionString="server=localhost;database=asyncpoco;user id=asyncpoco;password=asyncpoco;Allow User Variables=true" providerName="MySql.Data.MySqlClient"/>
		<add name="sqlserver" connectionString="Data Source=localhost;Initial Catalog=AsyncPocoTest;MultipleActiveResultSets=true;Integrated Security=True" providerName="System.Data.SqlClient"/>
		<add name="sqlserverce" connectionString="Data Source=petapoco.sdf" providerName="System.Data.SqlServerCe.4.0"/>
		<add name="postgresql" connectionString="Server=127.0.0.1;User id=postgres;password=password01;Database=tempdb;" providerName="Npgsql"/>

	</connectionStrings>

	<system.data>
		<DbProviderFactories>
			<add name="Npgsql Data Provider" invariant="Npgsql" support="FF" description=".Net Framework Data Provider for Postgresql Server" type="Npgsql.NpgsqlFactory, Npgsql, Version=2.0.14.3, Culture=neutral, PublicKeyToken=5d8b90d52f46fda7" />
			<add name="MySQL Data Provider" invariant="MySql.Data.MySqlClient" description=".Net Framework Data Provider for MySQL" type="MySql.Data.MySqlClient.MySqlClientFactory,MySql.Data" />
		</DbProviderFactories>
	</system.data>

	<startup>
		<supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5"/>
	</startup>
</configuration>
